{% extends 'main.html' %}
{% block content %}
{% load static %}     

  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
            <img class="project__thumbnail" src="{% static 'images/pic.jpg' %}" alt="project thumbnail" />
              <h2 class="dev__name">{{info.name}}</h2>
              <p class="dev__title">{{info.short_intro}}</p>
              <p class="dev__location">{{info.location}}</p>
              <ul class="dev__social">
                <li>
                  <li><a title="Github" href={{info.social_github}} target="_blank"><i class="im im-github"></i></a></li>
                </li>
                <li>
                  <li><a title="LinkedIn" href={{info.social_linkedin}} target="_blank"><i class="im im-linkedin"></i></a></li>
                </li>
                <li>
                  <li><a title="Creddly" href={{info.social_creddly}} target="_blank"><i class="im im-certificate-o"></i></a></li>
                </li>
                <!-- <li>
                  <li><a title="LinkedIn" href={{info.social_upwork}} target="_blank"></a></li>
                  <img class="avatar avatar--xl" src="images/upwork.png" />
                </li> -->
              </ul>
              <a href={{info.social_linkedin}} target="_blank" class="btn btn--sub btn--lg">Send message </a>
            </div>
          </div>
        </div>

        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
                <div class="myinfotext">
                    {{ info.bio|linebreaks }}
                </div>
          </div>
              <h3 class="devInfo__subtitle">Skills</h3>
              <div class="devInfo__skills">
                {% for skill in info.skills.all %}
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>{{skill.name}}</small>
                </span>
                {% endfor %}
              </div>
            </div>
        </div>

        </div>
      </div>
    </div>
  </main>

  {% endblock content %}