{% extends 'main.html' %}


{% block content %}

    </div>
          <img class="singleProject__preview" src="{{ project.featured_image.url }}" alt="portfolio thumbnail" />
          <a href="profile.html" class="singleProject__developer">Md. Shahriar Parvez</a>
          <h2 class="singleProject__title">{{project.title}}</h2>
          <h3 class="singleProject__subtitle">About the Project</h3>
          <div class="singleProject__info">
            {{project.description}}
          </div>
            </div>
          </div>

    </div>
  </main>

{% endblock content %}
