{% load static %}


  <!-- Header Section -->
  <header class="header">
    <div class="container container--narrow">
      <a href="{% url 'projects' %}" class="header__logo">
        <h2>Jaakko Mantila</h2>
        <span>Data Engineer</span>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li><a title="Github" href={{navbar.social_github}} target="_blank"><i class="im im-github"></i></a></li>
          <li><a title="LinkedIn" href="https://www.linkedin.com/in/jaakko-mantila/" target="_blank"><i class="im im-linkedin"></i></a></li>
          <li><a title="Creddly" href="" target="_blank"><i class="im im-certificate-o"></i></a></li>
          <li class="header__menuItem"><a href="{% url 'projects' %}" class="btn btn--sub">Projects</a></li>
          <li class="header__menuItem"><a href="{% url 'aboutme' %}" class="btn btn--sub">About me</a></li>
        </ul>
      </nav>
    </div>
  </header>

